<!doctype html>
<html>
  <head>
    <base target="_top" />
    <?!= include('multiuso/header'); ?>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row" style="height: 100vh">
        <div class="col-2"><?!= include('multiuso/menu_lateral'); ?></div>
        <div class="col-10" id="form_beneficiaria">
          <!-- Formulário para inserir informação -->
          <div class="row mt-3">
            <h5>BENEFICIÁRIA</h5>
          </div>
        </div>
        <div class="row">
          <!-- UC -->
          <div class="col-2">
            <label class="form-label">UC</label>
            <input type="number" name="uc" class="form-control myInput" />
          </div>
          <!-- NOME CLIENTE -->
          <div class="col-6">
            <label class="form-label">NOME CLIENTE</label>
            <input type="text" name="nome_cli" class="form-control myInput" />
          </div>
          <!-- RATEIO % -->
          <div class="col-2">
            <label class="form-label">RATEIO %</label>
            <input type="number" name="rat_%" class="form-control myInput" />
          </div>
          <!-- VENCE -->
          <div class="col-1">
            <label class="form-label">VENCE</label>
            <input type="number" name="vence" class="form-control myInput" />
          </div>
        </div>
        <div class="row">
          <!-- UG -->
          <div class="col-3">
            <label class="form-label">UG</label>
            <input type="number" name="ug" class="form-control myInput" />
          </div>
          <!-- REPASSE -->
          <div class="col-3">
            <label class="form-label">REPASSE</label>
            <input type="text" name="repasse" class="form-control myInput" />
          </div>
          <!-- % REPASSE -->
          <div class="col-2">
            <label class="form-label">% REPASSE</label>
            <input type="text" name="%_repasse" class="form-control myInput" />
          </div>
          <!-- UNIDADE -->
          <div class="col-2">
            <label class="form-label">UNIDADE</label>
            <input type="text" name="unidade" class="form-control myInput" />
          </div>
          <!-- PRÓXIMA LEITURA -->
          <div class="col-2">
            <label class="form-label">PRÓXIMA LEITURA</label>
            <input type="date" name="unidade" class="form-control myInput" />
          </div>
          <!-- STATUS -->
          <div class="col-2">
            <label class="form-label">STATUS</label>
            <input type="date" name="status" class="form-control myInput" />
          </div>
        </div>
        <!-- BOTÕES -->
        <div class="row mt-3">
          <div class="col-2">
            <a
              href="https://script.google.com/macros/s/AKfycbyiKeZCPZmxifwCu7E8lFI1RXCiNSppXcRjG6_-W3jq/dev?page=templates/geradora/dados"
            >
              <button type="button" class="btn btn-danger w-100">
                Cancelar
              </button>
            </a>
          </div>
          <div class="col-2">
            <button
              type="button"
              class="btn btn-success w-100"
              onclick="salvar_geradora()"
            >
              Salvar
            </button>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-4">
            <div
              class="alert alert-success"
              role="alert"
              id="meu_alert"
              style="display: none"
            >
              Geradora Salva com Sucesso !
            </div>
          </div>
        </div>
        <script>
          $(document).ready(function(){
            if(<?= uc; ?>!=0){
              google.script.run.withSuccessHandler(function(retorno){
                // uc
                document.getElementsByName('uc')[0].value = retorno[0]
                // nome_cliente
                document.getElementsByName('nome_cliente')[0].value = retorno[1]
                // rt_%
                document.getElementsByName('rt_%')[0].value = retorno[2]
                // venc
                document.getElementsByName('venc')[0].value = retorno[3]
                // ug
                document.getElementsByName('ug')[0].value = retorno[4]
                // repasse
                document.getElementsByName('repasse')[0].value = retorno[5]
                // %_repasse
                document.getElementsByName('%_repasse')[0].value = retorno[6]
                // unidade
                document.getElementsByName('unidade')[0].value = retorno[7]
                // prox_leit
                document.getElementsByName('prox_leit')[0].value = retorno[8]
                // status
                document.getElementsByName('status')[0].value = retorno[9]

              }).backend("ler_beneficiaria_especifica",<?= uc; ?>)
            }
          });

          function salvar_beneficiaria(){
            // accesso ao html
            var form_beneficiaria = document.getElementById('form_geradora')
            var myInput = form_beneficiaria.querySelectorAll('.myInput')

            var obj_para_lancar = {}

            myInput.forEach((item)=>{
              obj_para_lancar[item.name] = item.value
            })

            google.script.run.withSuccessHandler(function(retorno){

              document.getElementById('meu_alert').style.display='flex'

              setTimeout(function(){
                var a = document.createElement('a')
                a.href = "https://script.google.com/macros/s/AKfycbyiKeZCPZmxifwCu7E8lFI1RXCiNSppXcRjG6_-W3jq/dev?page=templates/geradora/dados"
                document.getElementById('meu_alert').appendChild(a)
                a.click()
              },2000);
            }).backend('salvar_beneficiaria',obj_para_lancar)
          }
        </script>
      </div>
    </div>
  </body>
</html>
