<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    <?!= include('multiuso/header'); ?>
  </head>
  <body>
    <div class='container-fluid'>
      <div class='row' style='height: 100vh;'>
        <div class='col-2'>
          <?!= include('multiuso/menu_lateral'); ?>
        </div>
        <div class='col-10' id="form_geradora">
          <!-- Formulário para Inserir Informação -->
          <div class='row mt-3'>
            <h5>UNIDADE DE GERAÇÃO</h5>
          </div>
          <div class='row'>
            <!-- UG -->
            <div class='col-2'>
              <label class="form-label">UG</label>
              <input type="number" name="ug"  class="form-control myInput">
            </div>
            <!-- DESCRIÇÃO UG -->
            <div class='col-6'>
              <label class="form-label">UNIDADE GERADORA</label>
              <input type="text" name="unidade_geradora" class="form-control myInput">
            </div>
            <!-- PRODUÇÃO MÉDIA -->
            <div class='col-2'>
              <label class="form-label">MÉDIA</label>
              <input type="number" name="prod_med" class="form-control myInput">
            </div>
            <!-- QUANTIDADE DE MÊS PARA MÉDIA -->
            <div class='col-1'>
              <label class="form-label">QT MÊS</label>
              <input type="number" name="qt_mes" class="form-control myInput">
            </div>
            <!-- NOVA LINHA -->
            <div class="row">
              <!-- LOGIN -->
              <div class='col-3'>
                <label class="form-label">LOGIN</label>
                <input type="text" name="login" class="form-control myInput">
              </div>
              <!-- SENHA -->
              <div class='col-3'>
                <label class="form-label">SENHA</label>
                <input type="text" name="senha" class="form-control myInput">
              </div>
              <!-- ACESSO -->
              <div class='col-2'>
                <label class="form-label">ACESSO</label>
                <input type="text" name="acesso" class="form-control myInput">
              </div>
              <!-- DETALHE -->
              <div class='col-2'>
                <label class="form-label">DETALHE</label>
                <input type="text" name="detalhe" class="form-control myInput">
              </div>
              <!-- BOTÕES -->
              <div class="row mt-3">
                <div class='col-2'>
                  <a href="https://script.google.com/macros/s/AKfycbyiKeZCPZmxifwCu7E8lFI1RXCiNSppXcRjG6_-W3jq/dev?page=templates/geradora/dados">
                    <button type="button" class="btn btn-danger w-100">Cancelar</button>
                  </a>
                </div>
                <div class='col-2'>
                  <button type="button" class="btn btn-success w-100" onclick="salvar_geradora()">Salvar</button>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-4">
                  <div class="alert alert-success" role="alert" id="meu_alert" style="display:none;">
                    Geradora Salva com Sucesso !
                  </div>
                </div>
              </div>
              <script>
                $(document).ready(function(){
                  if(<?= ug; ?>!=0){
                    google.script.run.withSuccessHandler(function(retorno){
                      // ug
                      document.getElementsByName('ug')[0].value = retorno[0]
                      // unidade_geradora
                      document.getElementsByName('unidade_geradora')[0].value = retorno[1]
                      // prod_med
                      document.getElementsByName('prod_med')[0].value = retorno[2]
                      // qt_mes
                      document.getElementsByName('qt_mes')[0].value = retorno[3]
                      // login
                      document.getElementsByName('login')[0].value = retorno[4]
                      // senha
                      document.getElementsByName('senha')[0].value = retorno[5]
                      // acesso
                      document.getElementsByName('acesso')[0].value = retorno[6]
                      // detalhe
                      document.getElementsByName('detalhe')[0].value = retorno[7]
                    }).backend("ler_geradora_especifica",<?= ug; ?>)
                  }
                });

                function salvar_geradora(){
                  // accesso ao html
                  var form_geradora = document.getElementById('form_geradora')
                  var myInput = form_geradora.querySelectorAll('.myInput')

                  var obj_para_lancar = {}

                  myInput.forEach((item)=>{
                    obj_para_lancar[item.name] = item.value
                  })

                  google.script.run.withSuccessHandler(function(retorno){

                    document.getElementById('meu_alert').style.display='flex'

                    setTimeout(function(){
                      var a = document.createElement('a')
                      a.href = "https://script.google.com/macros/s/AKfycbyiKeZCPZmxifwCu7E8lFI1RXCiNSppXcRjG6_-W3jq/dev?page=templates/geradora/dados"
                      document.getElementById('meu_alert').appendChild(a)
                      a.click()
                    },2000);
                  }).backend('salvar_geradora',obj_para_lancar)
                }

              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

